<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comment</title>
  </head>
  <body>
    <h1>Hello <%= username %></h1>
    <input type="text" name="bookname" id="bookname" placeholder="Book Title" />
    <input
      type="text"
      name="authorname"
      id="authorname"
      placeholder="Author Name"
    />
    <input
      type="number"
      name="chapternumber"
      id="chapternumber"
      placeholder="Chapter Number"
    />
    <br />
    <select id="Prompt">
      <option value="Prompt1">Your overall review</option>
      <option value="Prompt2">What did you find most interesting?</option>
      <option value="Prompt3">The character you liked the most?</option>
    </select>
    <br />
    <textarea name="Comment" id="commentText" cols="30" rows="5 r">
Comment</textarea
    >
    <button id="addCommentBtn">Add Comment</button>
  </body>
</html>
