<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comment</title>
  </head>
  <body>
    <form action="/comment" method="POST">
      <input
        type="text"
        name="bookName"
        id="bookName"
        placeholder="Book Title"
      />
      <input
        type="text"
        name="authorName"
        id="authorName"
        placeholder="Author Name"
      />
      <input
        type="number"
        name="chapterNumber"
        id="chapterNumber"
        placeholder="Chapter Number"
      />
      <br />
      <select id="Prompt" name="Prompt">
        <option value="Your overall review">Your overall review</option>
        <option value="What did you find most interesting?">
          What did you find most interesting?
        </option>
        <option value="The character you liked the most">
          The character you liked the most
        </option>
        <option value="The small detail you found most interesting">
          The small detail you found most interesting
        </option>
      </select>
      <br />
      <textarea
        name="Comment"
        id="commentText"
        cols="30"
        rows="5"
        placeholder="Add your comments here"
      ></textarea>
      <button id="addCommentBtn" type="submit">Add Comment</button>
    </form>
  </body>
</html>
