<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/user/login" method="POST">
      <label>Enter your username</label>
      <input type="text" name="username" placeholder="Enter your username.." />
      <br />
      <label>Enter your password</label>
      <input type="text" name="password" placeholder="Enter your password.." />
      <br />
      <button id="login-btn" type="submit">Login</button>
    </form>
  </body>
</html>
