<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show All comments</title>
  </head>
  <body>
    <h1>Comments for user <%= userName %></h1>
    <ol>
      <% comments.forEach(comment => { %>
      <li><%= comment.comment %> - <%= userName%></li>
      <% }); %>
    </ol>
    <a href="/comment?username=<%=userName%>">Add new comment</a>
  </body>
</html>
