<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>SignUp</h1>
    <label>Enter your name</label>
    <input type="text" name="fullname" placeholder="Enter your fullname.." />
    <br />
    <label>Enter your username</label>
    <input type="text" name="username" placeholder="Enter your username.." />
    <br />
    <label>Enter your email</label>
    <input type="text" name="email" placeholder="Enter your email.." />
    <br />
    <label>Enter your password</label>
    <input type="text" name="password" placeholder="Enter your password.." />
    <br />
    <button>Submit</button>
  </body>
</html>
